@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700;800&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --color-bg-primary: #0A0A0A;
    --color-bg-card: #1A1A1A;
    --color-accent-red: #C8102E;
    --color-accent-deep-red: #6B0000;
    --color-text-primary: #F0F0F0;
    --color-text-muted: #A0A0A0;

    --font-display: "Bebas Neue", sans-serif;
    --font-body: "Inter", sans-serif;

    --shadow-red: 0 0 20px rgba(200,16,46,0.35);
    --radius-card: 10px;
}

body {
    /* background-color: var(--color-bg-primary); */
}